footer#footer-site-info {
.border-top(@wht; 1);
	
	.footer-top {
	.min-h(50);
	.rel;
	.pad-top(3);
	.pad-bot(3);
	.gradient(@blue, @wht, @blue);	
	.border-bot(@wht; 0.2);
	}
	
	.footer-base {
	.min-h(5);	
	.line-h(5);
	}
	
	.footer-bg-imgs, .footer-guitar-bg, .footer-grass-bg {
	.abs;	
	}
	
	.footer-bg-imgs {	
	.top(0);
	.left(0);
	width: 100%;
	height: 100%;
	.bg-img("footer-cloud-left.png");
	.bg-repeat;
	background-position: left top;
	}
	
	.footer-guitar-bg {	
	.top(0);
	.right(0);	
	height: 100%;
	.w(25);
	.bg-img("hp-mast-guitar-bg.png");
	.bg-repeat;
	background-position: right center;
	.bg-size(contain);
	}
	
	.footer-grass-bg {	
	.bottom(0);
	.left(0);	
	.h(15);
	width: 100%;
	.bg-img("hp-mast-grass-bg.png");
	background-repeat: repeat-x;
	background-position: center bottom;
	.bg-size(contain);
	}
	
	.container {
	.rel;
	z-index: 2;	
	}
	
	ul.footer-menu {
	.mag-bot(2);	
		li {
		width: 50%;
		.fleft;
		.mag-bot(1.5);
		.bold;
		.font-size(2);
		.line-h(2);
			i {
			.in-block;
			.w(3);
				
			}
		}
		
		a {
		.txt-col-wht;
		.no-text-dec;
			i {
			.txt-col-blue-dk;	
			}
			&:hover, &:active, &:focus {
			.txt-col-blue-dk;
			}	
		}
		
	}
	
	.ticket-details {
	.pad-bot(3);
		.btn {	
		.pad-all(0);
		.line-h(6);
		.border(@wht; 0.5);
		.rounded(12px);
		.bg-col-orange;
		.txt-col-wht;
		.font-size(2.5);
			&:hover, &:active, &:focus {
			.bg-col-wht;
			.txt-col-orange;
			}
			
			&:before, &:after {
			font-family: FontAwesome;	
			.w(6);
			.line-h(6);	
			text-align: center;
			.txt-col-blue-dk;
			.font-size(3);
			}
			
			&:before {
			content: "\f145";
			.fleft;	
			}
			
			&:after {
			content: "\f054";	
			.fright;
			.font-size(2);	
			}
		}
	}
	
	.ticket-info {
	.bold;
	.txt-col-wht;
	.pad-bot(2);
	.font-size(1.8);
	.line-h(2.2);
		a {
		.txt-col-wht;	
		.no-text-dec;
			&:hover, &:active, &:focus {
			.txt-col-blue-dk;
			}
		}
	}
	
	.contact-info {
	.font-size(1.8);	
	.line-h(2.2);
	.pad-bot(3);
		a {
		.no-text-dec;
		.txt-col-wht;
			&:hover, &:active, &:focus {
			.txt-col-blue-dk;
			text-decoration: underline;
			}	
		}
	}
	
	.date-location {
		
		.dl-item {
		.line-h(6);	
		.font-size(2);
		.pad-left(2);
		.pad-right(2);
		.rounded(8px);
		.transform(skewX(-10deg));	
		}
		
		.footer-date {
		width: 35%;	
		.pad-right(4);
		}
		.footer-location {
		width: 56%;	
		.mag-left(-2);	
		text-align: center;
		}
		.footer-time {
		width: 12%;	
		.mag-left(-2);	
		text-align: right;
		}
	}
	
	.social-links {
	.pad-top(3);
	text-align: center;
		a {
		.in-block;	
		.w(10);
		.h(10);
		.border(@wht; 0.5);
		.rounded(100%);
		.mag(0;1;0;1);
		.drop-shadow(0, 3px, 10px, 0.7);
		.txt-col-wht;
		.no-text-dec;
		.bg-col-wht;
			i {
			.block;
			.w(9);
			.line-h(9);	
			text-align: center;
			.font-size(5);
			.rounded(100%);
				&.fa-facebook {
				.bg-col-facebook;	
				}
				&.fa-twitter {
				.bg-col-twitter;	
				}
			}
			
			&:hover, &:active, &:focus {
				
				i {
				.bg-col-trans;	
				
					&.fa-facebook {
					.col(@facebook_blue);	
					}
					
					&.fa-twitter {
					.col(@twitter_blue)	
					}
				}
				
			}
		}	
	}
	
	ul.footer-base-menu {
				
		a {
		.txt-col-wht;
		.no-text-dec;	
		}
		
		li {
		.in-block;	
			a {
			.pad-left(1.5);	
			.pad-right(1.5);
			.border-right(@wht; 0.1);
			}
			
			&:first-child a {
			.border-left(@wht; 0.1);
			}
		}	

	}

}

body.admin-bar footer#footer-site-info {
.pad-bot(4);
}