/* BASE SIZES */
@baseSize: 10;

/* COLORS */
@wht: #FFF;
@blk: #333;
@pink: #ff00ff;
@pink-dk: darken(@pink, 10%);
@orange: @pink;
@orange-dk: @pink-dk;
/*
@orange: #eda03f;
@orange-dk: #a3712b;
@blue: #009ee3;
@blue-dk: #006f9c;
*/
@blue: black;
@blue-dk: #203e91;
//@green: #5bae31;
@green: #66b32e;
@trans: transparent;
@error: #790000;
@att_yellow: #fad932;

/* SOCIAL COLOURS */
@twitter_blue: #00aced;
@facebook_blue: #3b5998;
@youtube_red: #bb0000;
@soundcloud_orange: #ff3a00;

/* FONTS */
@reg-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


